@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
    font-size: 62.5%;
/* fazendo com que 1rem equivale a 10px, pra facilitar nas contas */
}

body {
    font-family: "Nunito", sans-serif;
    background: #E3E3E3;
}

input, button {
    outline: none;
}

img, 
video {
    max-width: initial;
    height: auto;
}
    
 